@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>In 2016 two young software developers were presented with the task of revolutionizing the long since stagnant trash-collection industry.</p>
<br/>
<p>TR@SH is the solution.<p/>
<p>Recognizing the attractiveness of the pay-as-you-go sbscription model and the opt-in appeal of the modern gig-economy.</p>
<strong> PoaTek </strong>
