@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    419 Poa Blvd<br />
    Tech City, WI 54545<br />
    <abbr title="Phone">P:</abbr>
    1-888-698-7274
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:mscottaa@gmail.com">Support@poatech.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:bakken.adam@gmail.com">Marketing@poatech.com</a>
</address>