@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TR@SH</h1>
    <p class="lead">TR@SH is the leading trash disposal service across the United States.</p>
    <p><a href="About.cshtml" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Affordable</h2>
        <p>
            TR@SH aims to provide the best garbage disposal service at an affordable price. By using state of the art machine learning we are able to keep prices low and savings high!
        </p>
        <p><a class="btn btn-default" href="">Pricing &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Flexible</h2>
        <p>
            TR@SH knows flexiblity is important, and that's why we strive to provide flexiblity when it comes to choosing your pickup dates.
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Getting automated, machine learning inspired trash pickup is easier than ever, simply sign up and choose your pickup day!
        </p>
        <p><a class="btn btn-default" href="Register.cshtml">Sign up &raquo;</a></p>
    </div>
</div>