@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TR@SH</h1>
    <p class="lead">TR@SH is the leading trash disposal service across the United States.</p>
    <p><a href="Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Affordable</h2>
        <p>
            At TR@SH we use state of the art machine learning to keep our prices low while still providing the best service possible.
        </p>
        <p><a class="btn btn-default" href="Home/Pricing">Pricing &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Flexible</h2>
        <p>
            TR@SH knows flexiblity is important, and that's why we strive to provide flexiblity when it comes to choosing your pickup dates.
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Getting automated, machine learning inspired trash pickup is easier than ever, simply sign up and choose your pickup day!
        </p>
        <p><a class="btn btn-default" href="Account/Register">Sign up &raquo;</a></p>
    </div>
</div>