@{
    ViewBag.Title = "Pricing Options";
}

<h2>@ViewBag.Title</h2>

<table class="table table-bordered text-center">
    <tr>
        <td>
            Perks
        </td>
        <td>
            Bronze Plan
        </td>
        <td>
            Silver Plan
        </td>
        <td>
            Gold Plan
        </td>
    </tr>
    <tr>
        <td>
            Online Account Management
        </td>
        <td>
            X
        </td>
        <td>
            X
        </td>
        <td>
            X
        </td>
    </tr>
    <tr>
        <td>
            Weekly Trash Pickup
        </td>
        <td>
            X
        </td>
        <td>
            X
        </td>
        <td>
            X
        </td>
    </tr>
    <tr>
        <td>
            Drivers will not make eye contact
        </td>
        <td>
            
        </td>
        <td>
            X
        </td>
        <td>
            X
        </td>
    </tr>
    <tr>
        <td>
            Service priority escalated
        </td>
        <td></td>
        <td>
            X
        </td>
        <td>
            X
        </td>
    </tr>
    <tr>
        <td>
            Bio-degradable trash cans provided
        </td>
        <td></td>
        <td></td>
        <td>
            X
        </td>
    </tr>
    <tr>
        <td>
            Zero driver contact guaranteed
        </td>
        <td></td>
        <td></td>
        <td>
            X
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                Price
            </strong>
        </td>
        <td>
            <strong>
                14.99
            </strong>
        </td>
        <td>
            <strong>
                29.99
            </strong>
        </td>
        <td>
            <strong>
                49.99
            </strong>
        </td>
    </tr>
</table>